
body
{
   font-family: Serif, Palatino;
   background-color: #6C8A9D;
}

h1
{
  font-size: 50px;
}

.topnav
{
  padding: 20px;
  overflow: hidden;
  background-color: #6C8A9D;
}

.topnav a
{
  float: left;
  padding: 14px 16px;
  color: #47525E;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover
{
  text-decoration: bold;
  color: whitesmoke;
}

.topnav a.active
{
  color: whitesmoke;
}

#headshot
{
  float: left;
  margin: 15px 15px 0 0;
  max-width: 35%;
  max-height: auto;
}

#intropagedescription
{
  font-size: 30px;
  padding-left: 40px;
}
