body
{
   margin: 0;
   font-family: Serif, Palatino;
}

.topnav
{
  padding: 20px;
  overflow: hidden;
  background-color: #6C8A9D;
}

.topnav a
{
  float: left;
  padding: 14px 16px;
  color: #47525E;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover
{
  text-decoration: bold;
  color: whitesmoke;
}

.topnav a.active
{
  color: whitesmoke;
}